<% include ../partials/top %>
<main>
  <h1><%= title %></h1>

  <h3>Contents of Pantry</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>% Used</th>
      <th>Added</th>
      <th>Expires</th>
    </tr>
    <% items.forEach((item) => { %>
      <tr>
        <td>
          <%= item.name %>
        </td>
        <td>
          <%= item.quantity %>
            <%= item.units %>
        </td>
        <td>
          <%= item.percent_used %>
        </td>
        <td>
          <%= item.createdAt %>
        </td>
        <td>
          <%= item.expire_date %>
        </td>
        <td><a href="/items/<%= item.id %>">EDIT</a></td>
        <td><a href="#">DELETE</a></td>
      </tr>
      <% }) %>
  </table>
</main>
<% include ../partials/footer %>
