<% include ../partials/top %>
  <script defer type="text/javascript" src="/scripts/pantry.js"></script>
  <main>
    <div class="container">
      <div class="jumbotron">
        <h2 class="text-left">Hi <%= currentUser.firstName %>,</h2>
        <h4 class="text-left">Welcome to your pantry!</h4>
        <br>
        <div class="row">
          <div class="col-lg-2">
            <form class="" action="/items" method="post">
              <div class="form-group">
                <label for="item-name">Add new item</label>
                <input type="text" class="form-control" id="item-name" placeholder="Item name">
              </div>
              <input hidden class="pantry-id" type="text" name="" value="<%=currentUser.userId%>">
              <button id="add-pantry-item" type="button" class="btn btn-sm btn-info">Add Item</button>
            </form>
          </div>
          <div class="col-lg-6">
            <% currentUser.pantryItems.forEach((item) => { %>
            <h3 class="pantry-item">
              <span class="label label-default" data-name="<%=item.name%>">
                <%=item.name%>&nbsp;
                <a><i class="remove glyphicon glyphicon-remove-circle glyphicon-white" data-id="<%=item.id%>"></i></a>
              </span>
            </h3>
            &nbsp;
            <% }); %>
          </div>
          <div class="col-lg-4">
            <% include ../partials/search %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <% include ../partials/footer %>
